* {
    box-sizing: border-box;
}

/* body 样式 */

body {
    font-family: Arial;
    margin: 0;
    background-color: rgba(240, 240, 240, 0.1);
}

/* 标题 */

.header {
    background-color: #f3f3f3;
    padding: 40px;
    text-align: center;
}

/* 标题字体加大 */

.header h1 {
    font-size: 40px;
}

/* 导航 */

.navbar {
    overflow: hidden;
    background-color: #ddd;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

/* 导航栏样式 */

.navbar a {
    float: left;
    display: block;
    color: #444;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
    color: #ddd;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5);
}

.navbar a.active {
    background-color: #aaa;
    color: white;
}

/* 列容器 */

.row {
    display: flex;
    flex-wrap: wrap;
}

/* 创建两个列 */

/* 边栏 */

.side {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}

.side ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.side li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.side li:active {
    border-top: 1px solid #888;
    border-left: 1px solid #888;
}

.side li a:hover {
    background-color: #666;
    color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.side li a:active {
    background-color: #aaa;
    color: white;
}

.side a.active {
    background-color: #ddd;
}

/* 主要的内容区域 */

.main {
    flex: 80%;
    background-color: white;
    padding: 20px;
}

/* 底部 */

.footer {
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #ddd;
    color: white;
}

.footer>img {
    vertical-align: middle;
}

.footer>span {
    vertical-align: middle;
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 800px 时, 让两栏上下堆叠显示 */

@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目上下堆叠显示 */

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}